<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ゲーム掲示板</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/admin/admin.css}">
</head>
<body>
	<header id="header">
		<h1>ゲーム掲示板</h1>
	</header>
	<main>
		<h2>ジャンル追加</h2>
		
		
		<form th:action="@{/genre_add}" method="post">
		ジャンル:
			<input type="text" name="genreadd" required>
			<input type="submit" value="ジャンル追加" id="add_btn">
		</form>
		
		<br>
		<p th:text="${ans}"></p>
		
		<br><a href="/GameBoardFP" id=btn>メインへ</a>
	</main>
</body>
</html>