<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>ゲーム掲示板</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/style-index.css}">
</head>
<body>
	<header id="header">
		<h1>ゲーム掲示板</h1>
	</header>
	<main>
	<h2>メニュー</h2>
		<h3 th:if="${UserName}!=null" th:text="'USER:'+${UserName}+'さん'"></h3>
		<a sec:authorize="hasRole('USER')" href="/GameBoardFP/thread_add" id="btn">スレッドを立てる</a> <br>
		 <a href="/GameBoardFP/thread" id="btn">閲覧する</a> <br>
		<a sec:authorize="hasRole('USER')" href="/GameBoardFP/history" id="btn">履歴を確認する</a> <br> 
		<a th:if="${UserName}==null" href="/GameBoardFP/login" id="btn">ログイン</a><br>
		<a sec:authorize="hasRole('ADMIN')" href="/GameBoardFP/admin" id="btn">管理者ページ</a><br><br><br>
		<form th:if="${UserName}!=null" th:action="@{/logout}" method="post">
			<input type="submit" value="ログアウト" id="logout_btn">
		</form>
		
		<p th:if="${logout}" th:text="${logout}"></p>
	</main>
	<footer>
		<div class="footer">
			<h4>© 2025 伊丹駿斗</h4>
		</div>

	</footer>
</body>
</html>