<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ゲーム掲示板</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/board/style-history.css}">
</head>
<body>
	<header id="header">
		<h1>ゲーム掲示板</h1>
	</header>
	<main>
	<h2>履歴機能</h2>
		<br> <a href="/GameBoardFP/history_write" id=btn>書き込み履歴</a> <br> <a
			href="/GameBoardFP/history_good" id=btn>いいね履歴</a><br>
			<a href="/GameBoardFP" id=btn>メインへ</a>
	</main>

</body>
</html>