<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ゲーム掲示板</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/board/style-thread.css}">
</head>
<body>
	<header id="header">
		<h1>ゲーム掲示板</h1>
	</header>
	<main>
		<h2>スレッドを立てる</h2>

		<form th:action="@{/thread_add}" method="post">
			スレッドタイトル：<input type="text" name="title" placeholder="" required><br>
			ゲームタイトル：<input type="text" name="game" placeholder="" required><br>
			ゲームジャンル：<select name="genre">
							<option th:each="genre:${genre_list}" th:object="${genre}" th:value="${genre.genre}"
								th:text="${genre.genre}"></option>
							</select>
			<br>
			<input type="submit" value="スレッドを立てる" id=add_btn>
		</form>
		
		<p th:text="${ans}"></p>
		
		<form th:if="${thread}!=null" th:action="@{/board}" method="get">
			<input type="hidden" name="t_id" th:value="${threadID}">
			<input type="submit" value="立ち上げたスレッドへ" id=btn>
			<br>
		</form>
		
		<a href="/GameBoardFP" id=btn>メインへ</a>
	</main>
</body>
</html>