@charset "UTF-8";

body{
	text-align:center;
	overflow-x: hidden;
}

#table{
	 margin: auto;
}
#header{
    background:	#87CEFA;
    color:#fff;
    text-align: center;
    padding: 20px;
}

.footer{
	
    background:	#87CEFA;
    color:#fff;
    text-align: center;

 	position: fixed;
 	bottom: 0;
  	width: 100%;
}

h2{
	color:rgb(0, 128, 255);
}


